.home-container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.home-container h1 {
  color: #ece9e9;
  font-size: 78px;
  font-weight: bold;
  margin-bottom: 20px; /* espaço para a linha pulse */
}

/* Linha pulse animada */
.home-container .pulse-line {
  width: 320px;       /* comprimento da linha */
  height: 4px;        /* altura da linha */
  background: #f8f9fa; /* cor da linha */
  border-radius: 2px;
  animation: pulse 1.5s infinite;
}

/* Animação pulse */
@keyframes pulse {
  0% { transform: scaleX(1); opacity: 0.6; }
  50% { transform: scaleX(0.5); opacity: 1; }
  100% { transform: scaleX(1); opacity: 0.6; }
}
