.sobre {
  padding: 100px 20px;
  text-align: center;
}

.sobre h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.sobre p {
  font-size: 1.1rem;
  color: #cbd5e1;
  max-width: 600px;
  margin: 0 auto;
}
