.app-container {
  position: relative;
  width: 100%;
  height: 100vh; /* altura total da tela */
  color: white;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.main-content {
  position: relative;
  z-index: 10; /* conteúdo acima do Background */
  width: 100%;
  height: 70%; /* ocupa toda altura do app-container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px; /* espaço para o Header fixo */
}
